# Dependencies
node_modules/

# Build artifacts
dist/

# Test coverage & artifacts
coverage/
*.lcov

# Environment files
.env
.env.*
!.env.example

# Logs & OS artifacts
*.log
npm-debug.log*
.DS_Store
